<mat-card fxLayout="column" fxFlex="100%" fxLayoutGap="20px">
  <mat-card-header fxFlex="10%" style="height: 5rem" class="row">
    <div class="col-12">
      <mat-card-title class="col-12 height-fit-content">{{
        product.name
      }}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content id="card-content" fxLayout="column" fxLayoutGap="5%">
    <div class="img-container row align-middle justify-content-center">
      <img [src]="product.imageUrl" [alt]="product.description" />
      <div class="img-overlay row align-items-center">
        <p>
          {{ product.description }}
        </p>
      </div>
    </div>
    <p fxFlex>
      Get it now <strong class="very">ON SALE</strong> only for
      <strong>${{ product.price }}</strong>
    </p>
    <div fxLayout="column" fxLayoutGap="10px" class="justify-content-center">
      <button mat-raised-button color="primary" class="col-12">Order</button>
      <button
        mat-flat-button
        color="accent"
        class="col-12"
        (click)="addToCart()"
      >
        cart
      </button>
      <button
        mat-flat-button
        color="basic"
        class="col-6"
        *ngxPermissionsOnly="extraActionsRoles"
        [matMenuTriggerFor]="menu"
      >
        <span class="material-icons">more_horiz</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateProduct()">
          <mat-icon>edit</mat-icon>
          edit
        </button>
        <button mat-menu-item (click)="removeProduct(product)">
          <mat-icon>delete</mat-icon>
          delete
        </button>
      </mat-menu>
    </div>
  </mat-card-content>
</mat-card>
