<header id="navbar-header">
  <nav mat-tab-nav-bar class="navbar navbar-expand fixed-top bg-light">
    <!-- <a class="navbar-brand" routerLink="/">Shoply</a> -->
    <app-navbar class="col-6"></app-navbar>
    <!-- <nav  fxLayout="row" fxFlexAlign="end"> -->
    <a
      mat-tab-link
      routerLinkActive
      #rlaLogin="routerLinkActive"
      [active]="rlaLogin.isActive"
      routerLink="/auth/login"
      class="col-1 offset-3"
      *ngIf="!(auth | async).authenticated"
      >Login</a
    >
    <!-- [ngClass]="{ active: rlaLogin.isActive }" -->
    <a
      mat-tab-link
      #rlaSignup="routerLinkActive"
      routerLinkActive
      routerLink="/auth/signup"
      [active]="rlaSignup.isActive"
      class="col-1"
      *ngIf="!(auth | async).authenticated"
      >Signup</a
    >

    <!-- </nav> -->
  </nav>
</header>

<div id="body" class="bg-dark">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer mt-6">
  <app-footer></app-footer>
</footer>
