<mat-sidenav-container class="container full-height col-12">
  <mat-sidenav
    mode="side"
    [(opened)]="drawerOpened"
    #sidenav="matSidenav"
    class="col-md-4 col-sm-2 col-xs-1 list-no-style"
  >
    <!-- [(opened)]="drawerOpened" -->
    <mat-list role="list">
      <a
        routerLinkActive="active"
        mat-list-item
        *ngFor="let item of navItems"
        [routerLink]="item.link"
        >{{ item.name }}</a
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      [fxShow.lt-md]=""
      mat-button
      (click)="drawerOpened = !drawerOpened"
      *ngIf="!drawerOpened"
    >
      <span class="material-icons">list</span>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
